/* Basis */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #050505;
    color: #eee;
    text-align: center; /* centreert ALLE tekst */
}

/* Poster bovenaan */
.poster img {
    width: 90%;
    max-width: 420px; /* perfecte grootte */
    display: block;
    margin: 20px auto 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}

/* Locatie */
.location {
    margin-top: 0;
    padding: 10px 20px;
}

.location h2 {
    color: #ff3333;
    margin-bottom: 5px;
}

/* Hou ons in de gaten */
.follow {
    padding: 10px 20px;
}

.follow h2 {
    color: #ff3333;
    margin-bottom: 5px;
}

/* Footer */
footer {
    background: #111;
    padding: 20px;
    margin-top: 20px;
    color: #777;
}
